* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', serif, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.productCard {
  min-height: 100%;
}

/*Register Page*/

.register-img {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.30),
      rgba(0, 0, 0, 0.30)
    ), url("./images/perfume.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.register-here{
  margin-top: 8.5vh;
  font-family: 'DM Serif Text', serif !important;
  font-size: 3rem !important;
  font-weight: 700;
}

.reg-form{
  text-align: center;
  margin-top: 3vh;
  margin-left: 6vh;
  margin-right: 6vh;
}

.reg-btn{
  justify-content: center !important; 
  padding: 15px 40px !important;
  margin-bottom: 1vh;
  border-radius: 999px !important;
  border: none !important;
  font-family: "Montserrat" !important;
  font-size: 1.2rem !important;
  background: #c99629 !important;
  color: white !important;
  font-weight: 500 !important;
}

.form-title {
  font-family: "Montserrat";
  font-weight: 700;
  color: black;
}

.regform-label {
  padding-top: 0.6vh;
  font-family: "Montserrat";
  font-size: 1vw;
  font-weight: 500;
  color: black;
}

.regform-input {
  font-family: "Montserrat";
  font-size: 1vw !important;
  font-weight: 400;
}

.register-welcome-msg {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 4rem;
  color: white;
}

.register-bg {
  background-color: #ffffff;
}

/*Login Page*/

.display-1{
  margin-top: 17.7vh;
  font-family: 'DM Serif Text', serif !important;
  font-size: 3rem;
  font-weight: 700;
}

.login-img{
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.30),
      rgba(0, 0, 0, 0.30)
    ), url("./images/perfume.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login-form{
  text-align: center;
  margin-top: 6vh;
  margin-left: 6vh;
  margin-right: 6vh;
}

.loginform-label{
  padding-top: 0.6vh;
  font-family: "Montserrat" !important;
  font-size: 1.2vw;
  font-weight: 500;
  color: black;
}

.loginform-input {
  font-family: "Montserrat" !important;
  font-size: 1.2vw !important;
  font-weight: 400;
}

.login-btn{
  justify-content: center !important; 
  padding: 15px 40px !important;
  margin-bottom: 1vh;
  border-radius: 999px !important;
  border: none !important;
  font-family: "Montserrat" !important;
  font-size: 1.2vw !important;
  background: #c99629 !important;
  color: white !important;
  font-weight: 500 !important;
}

#submitBtn {
  padding: 12px 32px !important;
  border-radius: 999px !important;
  border: none !important;
  font-family: "Montserrat";
  font-size: 1rem !important;
  background: #ff9f1c !important;
  color: black !important;
  font-weight: 500 !important;
}


/*Home - landing page*/
.landing-page {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ), url("./images/banner3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:  76.3vh;
}

.landing-text-container{
  margin-top: 3vh !important;
}

.banner-title {
  font-family: 'DM Serif Text', serif !important;
  font-weight: 700;
  color: #272624;
  font-size: 8rem;
  text-shadow: 0 0 32px white !important;
}

.banner-subtitle {
  font-family: "Montserrat";
  font-weight: 400;
  color: #272624;
  font-size: 3.5rem;
  text-shadow: 0 0 32px white !important;
}

.banner-button {
  padding: 12px 35px !important;
  border-radius: 999px !important;
  border: none !important;
  font-family: "Montserrat" !important;
  font-size: 2rem !important;
  background: rgba(39, 38, 36, 0.6) !important;
  color: white !important;
  font-weight: 500 !important;
}

/*Home - Highlights*/

.cardHighlight1{
  margin-left: 0.4rem !important;
}

.cardHighlight4{
  margin-right: 0.4rem !important;
}

.cardHighlight1, .cardHighlight2, .cardHighlight3, .cardHighlight4{
  background: rgba(207, 206, 204, 0.5) !important;
  min-height: 100%;
}

/*Products Catalog*/
.catalog-title {
  margin-top: 1rem !important;
  font-family: 'DM Serif Text', serif !important;
  font-size: 2.8vw;
  font-weight: 700;
}

.catalog-intro {
  margin-top: 1rem !important;
  font-family: "Montserrat" !important;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 12rem !important;
  margin-right: 12rem !important;
}

.catalog-btn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;

  padding: 12px 32px !important;
  border-radius: 999px !important;
  border: none !important;
  font-family: "Montserrat" !important;
  font-size: 1.3rem !important;
  background: #c99629 !important;
  color: white !important;
  font-weight: 500 !important;
}

.card-title {
  color: black;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 600;
}

.card-text {
  color: black;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
}

/*Product View Page*/
.product-view {
  padding-top: 2.5% !important;
  padding-bottom: 2.5% !important;
/*  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);*/
}

.product-view-details {
  margin-top: 3.8% !important;
  margin-bottom: 3.8% !important;
}

.prodName{
  font-family: 'DM Serif Text', serif !important;
  font-size: 2.5rem !important;
  font-weight: 700 !important;
}

.prodDesc, .prodPrice, .prodQuant{
  font-family: "Montserrat" !important;
  font-size: 1.3rem !important;
  font-weight: 700 !important;
}

.prodDesc-text, .prodPrice-text, .prodQuant-text{
  font-size: 1.2rem !important;
  text-align: justify;
} 

.prodDesc-text{
  padding-bottom: 1vh;
}

.product-view-button {
  justify-content: center !important; 
  padding: 10px 3px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  border-radius: 999px !important;
  border: none !important;
  font-family: "Montserrat" !important;
  font-size: 1vw !important;
  background: #c99629 !important;
  color: white !important;
  font-weight: 500 !important;
}

.product-view-img {
  border-radius: 1rem;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}

/*dashboard*/
.dashboard-page {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ), url("./images/banner3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dashboardBanner-container{
  margin-top: 8vh !important;
}

.view-products-btn{
  padding: 12px 35px !important;
  border-radius: 999px !important;
  border: none !important;
  font-family: "Montserrat" !important;
  font-size: 2rem !important;
  background: rgba(39, 38, 36, 0.6) !important;
  color: white !important;
  font-weight: 500 !important;
}

.table-header {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 600;
}

.all-products{
  font-family: 'DM Serif Text', serif !important;
  font-size: 2.5rem !important;
  font-weight: 700 !important;
}

.table-body {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
}

.archive-button{
  font-family: "Montserrat" !important;
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 32px !important;
  border-radius: 999px !important;
  border: none !important;
  background: rgba(207, 206, 204, 1) !important;
  color: black !important;
}

.unarchive-button{
  font-family: "Montserrat" !important;
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 32px !important;
  border-radius: 999px !important;
  border: none !important;
  background: #272624 !important;
}

.edit-button{
  font-family: "Montserrat" !important;
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 32px !important;
  border-radius: 999px !important;
  border: none !important;
  background: #c99629 !important;
}


.dashboard-table {
  border: solid 1px black;
  border-radius: 1rem;
}

.table-container{
  padding-top: 6.5rem !important;
}

/*create new artwork page*/
.create-product-heading {
  margin-top: 4vh !important;
  font-family:  'DM Serif Text', serif !important;
  font-size: 3rem;
  font-weight: 700;
}

.add-product-form{
  font-size: 1.7rem !important;
  font-family: "Montserrat" !important;
}

.add-product-label{
  font-size: 1.7rem !important;
  font-family: "Montserrat" !important;
}

.add-product-input{
  font-size: 1.3rem !important;
  font-family: "Montserrat" !important;
}

.newproduct-btn {
  margin-left: 31.5rem !important;
  padding: 12px 32px !important;
  border-radius: 999px !important;
  border: none !important;
  font-family: "Montserrat";
  font-size: 1.3rem !important;
  background: #c99629 !important;
  color: white !important;
  font-weight: 500 !important;
}

/*Edit Product Page*/
.edit-product-heading {
  margin-top: 4vh !important;
  font-family: 'DM Serif Text', serif !important;
  font-size: 3rem;
  font-weight: 700;
}

.edit-product-label{
  font-size: 1.7rem !important;
  font-family: "Montserrat" !important;
}

.edit-product-input{
  font-size: 1.3rem !important;
  font-family: "Montserrat" !important;
}

.editproduct-btn {
  margin-left: 31.5rem !important;
  padding: 12px 32px !important;
  border-radius: 999px !important;
  border: none !important;
  font-family: "Montserrat" !important;
  font-size: 1.3rem !important;
  background: #c99629 !important;
  color: white !important;
  font-weight: 500 !important;
}

/*navbar*/
.navbar-base {
  background: #272624 !important;
  position: fixed;
  width: 100%;
  height: 7%;
  top: 0;
  z-index: 9999;
}

.nav-link {
  color: white !important;
  font-family: "Montserrat";
  font-size: 1.1rem !important;
  font-weight: 500 !important;
}

.navbar-brandname {
  color: white !important;
  font-family: 'DM Serif Text', serif !important;
  font-size: 1.85rem !important;
  font-weight: 700 !important;
}

body {
  padding-top: 43px; /* Adjust this value to provide enough space for the navbar */
}



/*Font style*/
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Montserrat:wght@400;500;700;800;900&display=swap");
